body{
    width: 1476px;
    margin: auto;
    font-family: Intel, Helvetica, sans-serif;
}
.our-work{
    background-color: #dd2b23;
    height: 865px;
}

div h1{
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    padding-top: 110px;
    margin: 0;

}
div h1+p{
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.7);
}

.our-work p{
    color: #ffffff;
    text-align: center;
    padding-top: 0px;
    margin: 0px;

}

img{
    height: 100%;
}
.strip{
    background-color: #DD2B23;
}
.strip div{
    border: none;
    background-color: #ffffff;
    color: white;
    height: 6px;
    width: 48px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin: auto;
    margin-top: 46px;
}
tr{
    height: 256px;
}
td {
    text-align: center;
    background-color: #f35e58;
    width: 256px;
}

i + p{
    font-size: 28px;
}
i img{
    margin-bottom: 20px;
}
.box {
    position: relative;
    overflow: hidden;
    width: 256px;
    height: 256px;
}
.photo{
 margin-right: 35px;
}
.box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-link img:hover{
    transition: 1s;
    width: 120%;
    height: 120%;
}
.facebook-analysis{
    background-color: #1187bf;
    height: 849px;
}
.title-facebook-analysis{
    color: #ffffff;
    text-align: center;
}
.title-facebook-analysis p:first-child{
    font-size: 36px;
    padding-top: 0px;
    margin: 0px;
    font-weight: bold;
}
.title-facebook-analysis p{
    margin: 0px;
}

.close-button {
    position: relative;
    right: -300px;
    top: 10px;
    margin: 10px auto 20px auto;
    width: 46px;
    height: 46px;
    background: #dd2b23;
    border-radius:50%;
    cursor:pointer;
    border: 2px solid white;
}
.close-button:hover{
    background: rgb(232,95,76);
}
.close-button:before {
    position:absolute;
    content:"";
    width:24px;
    height:2px;
    left: 11px;
    top: 22px;
    background: white;
    transform:rotate(45deg);
    transition:0.2s;
}
.close-button:after {
    position:absolute;
    content:"";
    width:24px;
    height:2px;
    right:11px;
    top:22px;
    background: white;
    transform:rotate(-45deg);
    transition:0.2s;
}

.cl-btn {
    position: relative;
    margin: 10px auto 20px auto;
    width: 60px;
    height: 60px;
    background: #1187bf;
    border-radius:50%;
    cursor:pointer;
    border: 3px solid white;
}
.cl-btn:before {
    position:absolute;
    content:"";
    width:21px;
    height:3px;
    left: 13px;
    top: 30px;
    background: white;
    transform:rotate(45deg);
    transition:0.2s;
}
.cl-btn:after {
    position:absolute;
    content:"";
    width:21px;
    height:3px;
    right:13px;
    top:30px;
    background: white;
    transform:rotate(-45deg);
    transition:0.2s;
}
.cl-btn-txt {
    position:relative;
    text-align:center;
    padding-top:25px;
    color:#fff;
    font-family:Roboto;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid white;
    margin: auto;
    margin-bottom: -30px;
    border-radius: 4px;

}
.basic-text-field{
    width: 680px;
    height: 479px;
    margin: auto;
}
.text-field{
    width: 650px;
    height: 400px;
    margin: auto;
    background-color: white;
    border-radius: 4px;
    border: 1px solid white;
}
.text-field div:first-child{
    width: 550px;
    height: 56px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.text-field div p{

    text-align: justify;
    text-align: center;
}
.input-name{
    margin-top: 20px;
}
.input-name,
.input-number,
.input-company{
    width: 444px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
}
.input-company{
    margin-bottom: 25px;
}
input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=text]:focus {
    box-shadow: 2px 2px 2px 2px grey;
}
        .box-button-submit{
            margin-left: auto;
            margin-right: auto;
            padding-top: 15px;
            text-align: center;
        }

        .button-submit{
            color: #fff;
            text-decoration: none;
            user-select: none;
            background: rgb(212,75,56);
            padding: .8em 1.5em;
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .button-submit:hover{
            background: rgb(232,95,76);
}

.get-in-touch{
    background-color: #2a2a2a;
    height: 491px;
}
        .get-in-touch:first-child{
            width: 570px;
            margin-left: auto;
            margin-right: auto;
        }
        .box-get-in-touch p{
            font-size: 29px;
            color: white;
            padding-top: 90px;
            text-align: center;
            font-weight: bold;
            margin: 0px;
        }
        .box-social-network{
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
        .box-social-network table{
            border-spacing: 23px 0;
            margin-top: 10px;
        }

        .box-social-network table tr td{
            width: 46px;
            margin-left: 23px;
        }
        .box-social-network table tr{
            height: 46px;
        }

        .fb,
        .tw,
        .gl,
        .ln{
            height: 46px;
            width: 46px;
            background-color: #2a2a2a;
            border: 3px solid #515151;
            border-radius: 4px;
            margin-left: 23px;
        }
        .btn-social img{
            height: 20px;
        }
.fb:hover{
    border: 3px solid #DD2B23;
}
.tw:hover{
    border: 3px solid #DD2B23;
}
.gl:hover{
    border: 3px solid #DD2B23;
}
.ln:hover{
    border: 3px solid #DD2B23;
        }

        .subsr p{
            font-size: 14px;
            padding-top: 35px;
            color: #c3c3c3;
            font-weight: normal;
            letter-spacing: 1px;
        }
        .input-email{
            width: 650px;
            height: 91px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            padding-bottom: 0px;
        }
        .input-email input[type=text]{
            padding: 20px;
            border: 1px solid #515151;
            border-radius: 4px;
            resize: vertical;
            background-color: #515151;
            color: #afafaf;
            font-weight: lighter;
        }
        .but-subscribe{
            width: 150px;
            height: 50px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1px;
        }
        .btn-subscribe{
            color: #fff;
            text-decoration: none;
            user-select: none;
            background: #2a2a2a;
            padding: .8em 1.5em;
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #515151;
            border-radius: 4px;
        }
        .button-submit:hover{
            border: 1px solid #dd2b23;
        }

        .footer{
            background-color: #515151;
            height: 68px;
            position: relative;
        }
.footer p{
    width: 275px;
    font-size: 14px;
    color: #c3c3c3;
    font-weight: normal;
    margin: auto;
    text-align: center;
    line-height: 65px;



}
